* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    background-color: whitesmoke;
}

input {
    height: 64px;
    background-color: beige;
    text-align: end;
    font-size: 62px;
    border-radius: 8px;
}

.clear-row {
    display: flex;
    justify-content: space-between;
}
.clear {
    height: 48px;
    width: 136px;
    font-size: 32px;
    border-radius: 8px;
    background-color: rgb(57, 111, 247);
}

.solar {
    display: flex;
    justify-content: space-around;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    background-color: rgb(156, 83, 5);
}

.solar div {
    width: 2px;
    background-color: orange;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 48px;
    padding: 36px;
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 16px;
    background-color: grey;
    border-radius: 12px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.buttons button {
    width: auto;
    height: 60px;
    flex: 1 1 20%;
    font-size: 24px;
    border-radius: 6px;
}

.oper, .equal {
    background-color: rgb(250, 165, 6);
}